
<div class="masthead">

  <div class="language-nav">
    <ul>
      <li><a href="verysafewebsite.com">css</a></li>
      <li><a href="verysafewebsite.com">html</a></li>
      <li><a href="verysafewebsite.com">javascript</a></li>
      <li><a href="verysafewebsite.com">ruby</a></li>
    </ul>
  </div>
  <img src="assets/AA_Times_Logo.png" class="logo">
  <ul class="masthead-links"> 
    <li>date</li>
    <li>
      <a href="a">
        <i class="far fa-newspaper"></i>
        today's paper
      </a>
    </li>
    <li>
      <a href="a">
        <i class="fas fa-video"></i>
        video
      </a>
    </li>
    <li>really hot</li>
    <li>stock gibberish <strong>+100%</strong></li>
  </ul>
</div>