
.sections-nav {
  display: flex;
  justify-content: center;
  // border: solid 2px fuchsia;
  margin: 10px 0 0;
  padding-bottom: 10px;
  border-bottom: solid 2px $light-gray;
}

.sections-nav ul {
  display: flex;
  justify-content: space-evenly;
  // border: dashed 3px orange;
  width: 50%;
}

.sections-nav a:hover {
  background-color: $light-gray;
}

.sections-nav ul li {
  text-transform: capitalize;
  font-family: $sans-serif;
}
.sections-nav ul li:last-child {
  font-variant: small-caps;
  text-decoration: underline;
  text-transform: lowercase;
}

.sections-nav ul li:last-child a:hover {
  background: white;
}
